
// Layout dimensions and measurement units
$base-unit: 16px;  // must be divisible by 4

$size-xxxs: $base-unit / 8;
$size-xxs: $base-unit / 4;
$size-xs: $base-unit / 2;
$size-s: $base-unit * 3 / 4;
$size-m: $base-unit;
$size-l: $base-unit * 5 / 4;
$size-xl: $base-unit * 3 / 2;
$size-xxl: $base-unit * 2;
$size-xxxl: $base-unit * 3;

$font-size-default: 1em;
$font-size-lyrics: 1.15em;
$font-size-display: 2em;
$font-size-bars: 1.25em;

$bar-tile-size: 40px;

$max-content-width--large-screen: 1720px;

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;

$piano-key-width: 20px;
$piano-key-height: 80px;
$piano-key-sharp-width: 16px;
$piano-key-sharp-height: 55px;

