/* elements of style that aren't included in the other files, such as border properties */
:root {
    --default-border-style: solid;          /* standard */
    --button-border-style: outset;          /* standard */
    --pressed-border-style: inset;          /* standard */
    --thin-border-width: 1px;               /* don't link with var(--size-..) stuff because single pixels make a huge difference with border-width properties */
    --thick-border-width: 2px;              /* don't link with var(--size-..) stuff because single pixels make a huge difference with border-width properties */
}