/* _base.css => for base HTML element definitions */

/* for all content */
body {
    background-color: var(--color-primary-black);           /* dark-bg */
    color: var(--color-primary-white);                      /* light-fg */ 
    margin: auto;                                           /* to center content */
}

* {
    box-sizing: border-box;
}

/* links */
a, a:active {
    color: var(--color-accent-lightest);                    /* contrast with regular content, light-fg */
}

a:hover {
    color: var(--color-white);
}

a, a:hover {
    transition: var(--quick-duration);
}

/* data tables */
table {
    width: 100%;                                            /* assume that tables fill their space by default, overwrite if necessary */
    border-style: var(--default-border-style);              /* standard */
    border-width: var(--thick-border-width);                /* highlight the content within */ 
    border-color: var(--color-primary);                     /* mesh with background */
    border-collapse: collapse;                              /* allows for predictable and consistent border placement */
 }

 /* data table data & header cells */
 table td, table th {
    padding: var(--size-xs) var(--size-l);                  /* breathing room for data to allow it to pop-out */
 }

 /* data table header cells */
 table th {
    background: var(--color-primary-darkest);               /* slightly lighter to differenciate from the data rows */
    border-style: var(--thin-border-width);                 /* add column borders */
    border-color: var(--color-primary-dark);                /* use darker to emphasis header */
    border-style: var(--default-border-style);              /* standard */
 }

 /* data table data row */
 table tr {
    border-bottom-width: var(--thin-border-width);          /* thin borders to agglomerate the data */     
    border-bottom-style: var(--default-border-style);       /* standard */
    border-bottom-color: var(--color-primary-darker);       /* mesh with background, low contrast */           
 }

 table td {
    text-align: left;
 }

 td input {
    width: 100%;
 }

/* header defaults */
h1, h2, h3, h4, h5, h6 {
    color: var(--color-secondary-lightest);     /* all headers are implicitly of importance, thus use a contrasting color */ 
}

h2, h3, h4, h5, h6 {
    margin: 0;          /* if non-page headers need margin, specify it explicitly rather than default to it */  
}

/* helps with complex forms, used for submodels */
fieldset {
    padding: var(--size-m);                                 /* internal spacing */
    margin: var(--size-m);                                  /* external spacing */
}

/* fieldset titles */
legend {
    font-size: var(--font-size-l);                                     /* fieldset legends act as headers */
    padding: 0 1rem;                                        /* space out from the fieldset border */
    color: var(--color-secondary-lightest);                 /* to aid navigation */
}

/* short bits of text that indicate the nature of another element */
label {
    font-size: var(--font-size-l);
}

/* labels with a tooltip */
label[title] {
    cursor: help;
}

/* add a "?" after labels which have a tooltip */
label[title]::after {
    content: "?";
    vertical-align: super;
    color: var(--color-accent-lightest);
    font-size: var(--font-size-xs);
    margin: 0 var(--size-xxs);
}

/* click-to-show content subdivisions */
details, details[open] {
    margin: var(--size-m);
    text-align: center;
}

/* the bit of content visible from a closed "details" panel */
details > summary {
    position: relative;                                 /* to act as an anchor for the custom display marker */
    display: inline-block;                              /* hides the default display triangle (on Firefox, at least), inline for alignment, block to buttonize */              
    cursor: pointer;                                    /* buttonize */
    font-size: var(--font-size-xl);                     /* draw attention */
    background: var(--color-primary-darkest);           /* mesh with page bg */
    padding: var(--size-s);                             /* match spacing between arrow and text, more or less */
    padding-left: var(--size-xxl);                      /* oversize left padding to accomodate the custom display marker */
    margin: var(--size-xs);                             /* mirror padding */
    border: 1px ridge var(--color-primary-light);       /* buttonize */
    border-radius: var(--border-radius-small);                       /* buttonize */
    max-width: fit-content;                             /* would rather avoid dealing with animations here, so keeping the summary of a consistent width seems like the best option for now */
}

/* use a custom display marker */
details > summary:before {
    content: '';                        /* define content otherwise not displayed */
    border-width: var(--size-xs);       /*  */
    border-style: solid;                /* to display a triangle, must be solid */
    border-color: transparent transparent transparent var(--color-primary-lightest);        /* only make the one corner not transparent, thus showing a triangle */
    position: absolute;                 /* to allow setting explicit dimensions & position */
    top: 1rem;                          /* use the relative font size to ensure it's centered vertically */ 
    left: var(--size-s);                /* push from the left, towards the label; must pair with the padding on the summary element */
    transform: rotate(0);               /* ? */
    transform-origin: .2rem 50%;        /* set the immutable transformation properties here */
    transition: var(--quick-duration) transform ease; /* quick transition for a small element */
}

details > summary:hover {
    border-color: var(--color-primary-white);   /* highlight effect */
}

details > summary:active {
    background: var(--color-primary-black);     /* pressed shading effect */
}

details > summary,
details > summary:hover,
details > summary:active {
    transition: all var(--quick-duration) ease-in-out;
}

details > summary::marker, /* for all decent browsers */
details > summary::-webkit-details-marker /* for safari's special needs */ {
    /* display: none; */ /* not deleting this whole tidbit because I need to test whether it might be necessary on some browsers, given the tricks to replace the display triangle */
}

/* when a details panel is open */
details[open] {
    border-bottom: 1px solid var(--color-primary-lightest);
}

/* custom display marker when the details are opened */
details[open] > summary:before {
    transform: rotate(90deg);           /* perform the rotation */
}

details p {
    text-align: justify;
    animation: fadeIn var(--slow-duration);
    line-height: var(--font-size-xxl);
}

/* horizontal dividers */
hr {
    width: 80%;
    color: var(--color-primary-darker);
}

/* as the website's main purpose is to show tablatures without needing to scroll around, maximizing the visual space means making the header as small as possible */
header {
    position: relative;                 
}

header, footer {
    position: relative;                 /* make it stick to the top of the page so it doesn't always occupy space, and also because I'm not in love with the burger-expanding-menu paradigm so KISS for now */ 
    display: flex;                      /* vertical flex */
    flex-direction: column;             /* vertical flex */
    align-items: center;                /* center items along the Y-axis */
    background: var(--sheen-dark);     /* different background from page content */
}

footer {
    display: fixed;
    border-top: var(--thin-border-width) ridge var(--color-primary-dark);
    padding: var(--size-m);
}

/* nav menu within header for mobile */
header nav, footer nav {
    display: flex;                      /* vertical flex */
    flex-direction: column;             /* vertical flex */
    gap: var(--size-m);                 /* space elemenets away from each other to prevent fat-fingering */ 
    align-items: center;                /* center items along the y-axis */
}

header {
    border-bottom: 1px ridge var(--color-primary-dark); /* add an edge to the bottom */
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: var(--size-m) 0 0 var(--size-m);
}

/* header title */
header h1, header h2 {
    color: var(--color-primary-lightest);   /* use default color for header title */
    margin: var(--size-xxs);
}

/* direct header links get no underline (so far only title link is not in nav child) */
header > a, footer > a {
    text-decoration: none;
}

/* standalone parts of the content */
section { 
    display: flex;              /* default to a vertical flex */
    flex-direction: column;     /* vertical flex */
    justify-content: center;    /* default to center */
    align-items: stretch;       /* default to stretch for mobile */
    margin: var(--size-xxs);    /* default spacing */
}

/* screen-size dependent considerations */
/* for large screens */
@media screen and (min-width: 720px) {

    /* header nav bar */
    header, footer {                                  /* remains visible when content is scrolled down */
        display: flex;                                      
        flex-direction: column;                             /* vertical flex */
        justify-content: space-between;                     /* title to the left, nav to the right */
        align-items: center;                                /* horizontal center */
        font-size: var(--font-size-l);                      /* everything on header is important */
        z-index: 1;                    /* prevent clipping */
    }

    header {
        position: fixed;            /* maintain at the top of the screen at all times */
        right: 0;                   /* tuck to the right, clearing out the middle space */
        border-left: 1px ridge var(--color-primary-dark);     /* as desktop header doesn't take up all the page, add left border like the bottom one */
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: var(--size-s);
        justify-content: center;
    }

    /* header bat title */
    header h2 {
        padding-left: var(--size-xl);
    }

    header h1 {
        margin: var(--size-xxxs);
    }

    /* header links */
    header a, footer a {
        text-decoration: none;                  /* remove underline */ 
        padding: var(--size-xs) var(--size-m);  /* larger clickable area */
    }

    header nav a,
    footer nav a {
        border: transparent var(--thick-border-width) solid;
        border-radius: var(--border-radius-small);
    }

    header nav a:hover,
    footer nav a:hover {
        box-shadow: 0 0 2px 2px var(--color-white);
    }

    header nav a:active,
    footer nav a:active {
        background: var(--color-accent-darkest);
        color: var(--color-accent-lightest);
        box-shadow: 0 0 2px 2px var(--color-accent-lightest);
    }
 }

 @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
 }