/* _base.css => for base HTML element definitions */

/* for all content */
body {
    background-color: var(--color-primary-black);           /* dark-bg */
    color: var(--color-primary-white);                      /* light-fg */ 
    margin: auto;                                           /* to center content */
}

/* links */
a {
    color: var(--color-accent-lightest);                    /* contrast with regular content, light-fg */
}

/* data tables */
table {
    width: 100%;                                            /* assume that tables fill their space by default, overwrite if necessary */
    border-style: var(--default-border-style);              /* standard */
    border-width: var(--thick-border-width);                /* highlight the content within */ 
    border-color: var(--color-primary);                     /* mesh with background */
    border-collapse: collapse;                              /* allows for predictable and consistent border placement */
 }

 /* data table data & header cells */
 table td, table th {
    padding: var(--size-xs) var(--size-l);                  /* breathing room for data to allow it to pop-out */
 }

 /* data table header cells */
 table th {
    background: var(--color-primary-darkest);               /* slightly lighter to differenciate from the data rows */
    border-style: var(--thin-border-width);                 /* add column borders */
    border-color: var(--color-primary-dark);                /* use darker to emphasis header */
    border-style: var(--default-border-style);              /* standard */
 }

 /* data table data row */
 table tr {
    border-bottom-width: var(--thin-border-width);          /* thin borders to agglomerate the data */     
    border-bottom-style: var(--default-border-style);       /* standard */
    border-bottom-color: var(--color-primary-darker);       /* mesh with background, low contrast */           
 }

 /* number-style inputs */
input[type="number"] {
    width: var(--size-xxl);                                 /* numbers in this website's context are usually limited to 1-2 digits */
}

/* helps with complex forms, used for submodels */
fieldset {
    padding: var(--size-m);                                 /* internal spacing */
    margin: var(--size-m);                                  /* external spacing */
}

/* fieldset titles */
legend {
    font-size: 1.15rem;                                     /* fieldset legends act as headers */
    padding: 0 1rem;                                        /* space out from the fieldset border */
    color: var(--color-secondary-lightest);                 /* to aid navigation */
}

/* screen-size dependent considerations */
/* for large screens */
@media screen and (min-width: 1080px) {
    body {
        max-width: var(--max-content-width--large-screen);  /* prevent the content from spreading over too wide an area */
    }

    /* header nav bar */
    header {
        display: flex;                                      /* horizontal flex */
        gap: var(--size-m);                                 /* space out links */
        justify-content: space-between;                     /* maximimze space */
        padding: var(--size-l);                             /* header internal padding */
        border-bottom: 1px ridge var(--color-primary-dark); /* bottom edge */
        background: var(--color-black);                     /* differentiate from page content */
    }
 }