@use "./globals" as *;

// _common.css => for common classes that aren't tied to one specific page or feature

// class added to elements that need to be hidden from the layout
.hidden {
    display: none !important;   //! maybe only acceptable use of !important, but should still look to see if really necessary
}

// class added to elements that need to clash with the surrounding content
.contrast-text {
    color: $color-accent-light;                       // clash with text (by not using secondary color) and background (by not using primary)
}

.text-secondary {
    color: $color-secondary-lightest;
}

.bg-secondary {
    background: $color-secondary-darkest;
}

.text-accent {
    color: $color-accent-lightest;
}

.bg-accent {
    background: $color-accent-darkest;
}

// typical horizontal flex element
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// typical vertical flex element
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

// text that appears when a list of items is expected, but is empty in this particular case
.empty-list-text {
    font-style: italic;
}

.inline-separator {
    color: $color-primary-dark;
    font-size: $font-size-xl;
}

// Texts that reaches for the user's attention to suggest a course of action
.hint {
    font-style: italic;
    font-weight: bold;
}

// Used in situations where headers or other indicators are omitted, relying instead on labels placed alongside the relevant data. These labels must be hidden when displayed on larger devices
.mobile-label {
    color: $color-secondary-lightest;

    @include tablet {
        display: none;
    }
}