.header-links {
    align-items: flex-end;          /* align horiztonally to the right */
    gap: var(--size-xxxs);
}

.header-links a {
    text-decoration: none;
    padding: var(--size-xxs) var(--size-xxl) var(--size-xxs) 100vw;
}

.header-links a:hover {
    background: var(--color-primary-black);
}

.header-links a:active {
    background: var(--color-black);
}

.header-links a, .header-links a:hover, .header-links a:active {
    transition: background-color linear var(--transition-s);
}

header .header-links, header {
    transition: padding linear var(--transition-s);
}

header, header.pulled {
    transition: transform linear var(--transition-s), margin linear var(--transition-s);
} 

header.pulled {
    margin-bottom: var(--header-slide-mobile);
    transform: translateY(var(--header-slide-mobile));
}

header.pulled.logged-in {
    margin-bottom: var(--header-slide-mobile-logged-in);
    transform: translateY(var(--header-slide-mobile-logged-in));
}

header.pulled .header-links {
    padding-bottom: calc(2 * var(--size-xxl));
}

.header-links-toggle {
    padding: var(--size-m);             /* clickable toggle */
    font-size: var(--font-size-xxl);    /* stand out */
}

header.pulled .header-links-toggle {
    transform: rotate(-180deg);          /* rotate the other way */
}

/* buttons located underneath the header bar */
.header-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--size-xxs);
}

.header-tabs a {
    padding: var(--size-s) var(--size-xl);
    margin: -1px 0;         /* cover top border a bit */
    z-index: 2;             
    border-top: var(--color-primary-darker) var(--thin-border-width) solid;     

    border-right: var(--color-primary-light) var(--thin-border-width) outset;
    border-bottom: var(--color-primary-light) var(--thin-border-width) outset;
    border-left: var(--color-primary-light) var(--thin-border-width) outset;

    background: var(--sheen-light);
    text-decoration: none;
}

@media screen and (min-width: 720px) {


    header.pulled {
        margin-bottom: var(--header-slide-desktop);
        transform: translateY(var(--header-slide-desktop));
        align-items: center;                /* horizontally center items */
    }

    header.pulled.logged-in {
        margin-bottom: var(--header-slide-desktop-logged-in);
        transform: translateY(var(--header-slide-desktop-logged-in));
    }

    header.pulled .header-links {
        padding-bottom: var(--size-xxl);   /* reduce bottom padding */
    }

    .header-links {
        align-items: stretch;       /* uniform clickable areas */
        text-align: right;          /* align the link text to the right */
    }

    .header-links-toggle {
        padding: var(--size-m) 40%;     /* clickable toggle area should include most of the actual header, as its size is bound by the links that get toggled on/off, doesn't make sense for it to be just a small button */
    }

    .header-links-toggle:active {
        color: var(--color-primary);
    }

    .header-links, .header-links-toggle:active {
        transition: color linear var(--transition-s);
    }

    .header-tabs {
        position: fixed;                    /* important links, should be visible all the time */
        top: 0;                             /* fix to the top of the screen */
        display: flex;                      /* horizontal flex the content */
        width: 100%;                        /* center by having the container span the entire width of the page */
    }

    .header-links a {
        padding-right: var(--size-xxl);
        padding-left: var(--size-xxl);      /* overwrite the mobile page-wide padding, unnecessary for desktop */
    }

}