@use "./globals" as *;

.header-links {
    align-items: flex-end;          // align horiztonally to the right
    gap: $size-xxxs;
    
    a {
        text-decoration: none;
        padding: $size-xxs $size-xxl $size-xxs 100vw;

        &:hover {
            background: $color-primary-black;
        }

        &:active {
            background: $color-primary-lightest;
            color: $color-accent-darker;
        }

        &, &:hover, &:active {
            transition: background-color linear $transition-s;
        }

        @include tablet {
            padding-right: $size-xxl;
            padding-left: $size-xxl;      // overwrite the mobile page-wide padding, unnecessary for desktop
        }
    }

    @include tablet {
        align-items: stretch;       // uniform clickable areas
        text-align: right;          // align the link text to the right
    }
}

header .header-links, header {
    transition: padding linear $transition-s;
}

header, header.pulled {
    transition: transform linear $transition-s, margin linear $transition-s;
} 

// when the header is "pulled" off the screen
header {
    &.pulled {
        // move it out of the way by 100% of its width, then back into view for whatever size is enough to show the control that triggers it back to view
        transform: translateY(-100%) translateY(55px);

        .header-links {
            padding-bottom: calc(2 * $size-xxl);

            @include tablet {
                padding-bottom: $size-xxl;   // reduce bottom padding
            }
        }
        
        .header-links-toggle {
            transform: rotate(-180deg);          // rotate the other way
        }

        @include tablet {
            align-items: center;                // horizontally center items
        }
    }
}

.header-links-toggle {
    padding: $size-m;             // clickable toggle
    font-size: $font-size-xxl;    // stand out

    @include tablet {
        padding: $size-m 40%;     // clickable toggle area should include most of the actual header, as its size is bound by the links that get toggled on/off, doesn't make sense for it to be just a small button

        &:active {
            color: $color-primary;
        }
    }
}

// buttons located underneath the header bar
.header-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $size-xxs;

    a {
        padding: $size-s $size-xl;
        margin: -1px 0;         // cover top border a bit
        z-index: 2;             
        border-top: $color-primary-darker $thin-border-width solid;     
    
        border-right: $color-primary-light $thin-border-width outset;
        border-bottom: $color-primary-light $thin-border-width outset;
        border-left: $color-primary-light $thin-border-width outset;
    
        background: $color-black;
        text-decoration: none;

        &, &:hover, &:active {
            transition: $transition-s;
        }
    }    

    &, a:hover {
        background: $color-primary-darker;
    }

    a:active {
        background: $color-primary-white;
        color: $color-accent-darker;
    }

    @include tablet {
        position: fixed;                    // important links, should be visible all the time
        top: 0;                             // fix to the top of the screen
        display: flex;                      // horizontal flex the content
        width: 100%;                        // center by having the container span the entire width of the page
    }
}

@include tablet {
    .header-links, .header-links-toggle:active {
        transition: color linear $transition-s;
    }
}