/* all standard text-ish input */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
select {
    background: var(--color-primary-lightest);
    color: var(--color-primary-darkest);
    padding: var(--size-xs);
    font-size: var(--font-size-xl);
}

select {
    max-width: 95vw;        /* because select input sometimes contain long values, they will overflow past the edges of the screen; this prevents that to some extent */
}

/* checkboxes */
input[type="checkbox"] {
    transform: scale(2);
    margin: 0 var(--size-xl);
}

@media screen and (min-width: 720px) {
}