<table class="songs-list">
    <% @songs.each do |song| %>
        <tr>
            <td class="songs-list__title"><%= link_to song.name, "/" << song.id.to_s %></td>
            <td class="songs-list__artist"><%= song.get_artists %></td>
            <td class="songs-list__capo"><%= song.capo %></td>
        </tr>
    <% end %>
</table>