/* _action_bar.css => a horizontal grouping of action buttons & links */
.action-bar {
    margin-top: var(--size-m);        /* breathing room */
    margin-bottom: var(--size-m);     /* breathing room */
    display: flex;                    /* simple horizontal setup */
  }