.artists.table {
    grid-template-columns: [start] 2fr 3fr [end];
}

.artists.table .table-row {
    grid-column-start: start;
    grid-column-end: end;
}

.artist-songs.table {
    grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
    .artist-songs.table .table-row {
        width: 100%;
        grid-column-start: initial;         /* overwrite generic table row properties */
        grid-column-end: initial;
    }

    .artist-songs.table .table-row > :last-child {
        justify-self: center;               /* overwrite generic table row properties */
    }
}