@use "../application" as *;

.stats-calendar {
    position: relative;

    // Display inner components on top of one another
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $size-s;

    @include tablet {
        // Include border on tablet+ only, as the smaller screen's edges act as a natural border
        padding: $size-s 0;
        border: $thick-border-width $color-primary-darker solid;
    }

    // Date navigators
    search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $size-s;
        
        width: 100%;
        font-size: $font-size-l;

        padding: 0 $size-s $size-s;
        border-bottom: $color-primary-darkest $thin-border-width solid;

        a {
            text-decoration: none;
            font-size: $font-size-xl;
            color: $color-secondary-lightest;

            &:hover {
                color: $color-white;
            }
        }
    }

    .yearly-calendar {
        display: grid;
        grid-template-columns: 1fr;
        gap: $size-s;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: $size-m;
        }

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            gap: $size-l;
        }

        @include large-desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .weekly-calendar,
    .monthly-calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0 $size-s;

        // Don't stretch the calendar in case it's on the same row as another with more weeks
        align-content: start;
    }

    .monthly-calendar {
    
        .month {
            grid-column: 1 / 8;
            justify-self: center;
            font-size: $size-xl;
        }
    }
    
    .weekly-calendar {
        gap: $size-l;
    }
    
    .calendar-header-day {
        justify-self: center;
        font-size: $font-size-l;
    }
    
    .calendar__date { 

        display: grid;
    
        grid-template-areas: 
            "date ."
            ". stats";

        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr auto;
    
        width: 3.5 * $size-m;
        height: 4 * $size-l;
        font-size: $font-size-m;

        padding: $size-xxs;
        border: $color-primary-darkest $thin-border-width ridge;
    
        .calendar__date__day-of-month {
            font-weight: bold;
            grid-area: date;
        }
    
        .calendar__date__stats {
    
            display: grid;
            grid-template-columns: 1fr;
            gap: $size-xxs;
    
            grid-area: stats;
            .stats__plays {
                color: $color-secondary-lighter;
            }
        
            .stats__adds {
                color: $color-accent-lighter;
            }
        }

        &__day-of-month.off-month {
            color: $color-disabled;
        }
    }
}