.chords-helper {
    margin-top: var(--size-m);
}

.chords-helper .chords-helper-title {
    font-size: var(--font-size-xl);
}

.chords-helper .chords {   
    display: grid;                   /* might have lots of chords, display as a grid to maximize data density */
    grid-template-columns: repeat(3, 1fr); /* split in 3 columns for smaller devices */
    text-align: left;                /* align the start of each line */ 
    border-width: var(--thick-border-width);     /* thick helper border */ 
    border-style: var(--default-border-style);   /* default */
    border-color: var(--color-primary);          /* helpers have colored borders */
    padding: var(--size-xxs);
    margin-top: var(--size-m);                  /* space away from title link */
 }
 
 .chords-helper .chords .chord {
    display: flex;                   /* display in a line */
    justify-content: space-between;  /* tuck the cypher to the left, notes to the right */
    align-items: center;             /* vertically center along the row */
    padding: var(--size-s);          /* buffer between each chord */
    border-width: var(--thin-border-width);   /* default */
    border-color: var(--color-primary);       /* helper color */
    border-style: solid;                      /* default */
 }

 .chords-helper .chords .chord:hover {
    background-color: var(--color-primary-darker);
    border-color: var(--color-white);
    color: var(--color-white);
    transform: var(--transition-s);
 }
 
 .chords-helper .chords .chord .cypher {
    font-size: var(--font-size-l);
    font-weight: bold;
 }
 
 .chords-helper .chords .chord .cypher::after {
    content: "→"
 }

 @media screen and (min-width: 720px) {

    .chords-helper .chords {
        grid-template-columns: repeat(5, 1fr);
    }
 }


@media screen and (min-width: 1400px) {
    .chords-helper .chords {
       grid-template-columns: repeat(8, 1fr);
    }
}