/* lits of CTAs (call-to-action links) */ 
.ctas {
    display: flex;                  /* vertical flex */
    flex-direction: column;         /* vertical flex */ 
    gap: var(--size-m);             /* space the links out for added visibility */
}

.cta {
    display: flex;                  /* show CTA above its description */
    flex-direction: column;         /* show CTA above its description */ 
    gap: var(--size-xs);            /* space out CTA and description */
    padding-bottom: var(--size-xl); /* space the bottom border away from the description */
    border-bottom: var(--color-primary-lightest) 1px solid; /* make it easier to tell which CTA goes with each description */
}

.cta a {
    font-size: var(--font-size-xxl);  /* make the CTA link larger */
}

@media screen and (min-width: 720px) {

    .ctas {
        align-items: flex-start;        /* align the CTAs along the left-most edge */
    }

    .cta {
        display: initial;               /* reset */
        line-height: 1.5em;             /* space the lines out for extra legibility */
        border-bottom: none;            /* reset, don't need delimiters on . it's already clear enough */
    }

    .cta .description::before {
        content: " — ";                 /* add a delimiter between the CTA and its description */ 
    }

}
