@use "../globals/globals" as *;

.fretted-instrument {
    text-align: center;             // center the fretboard
    padding: $size-l;               // acts as margin, spacing 

    .fretboard {
        // Display a vertical fretboard on mobile: a row of column-shaped strings
        display: flex;
        flex-direction: row;

        // Use the fret's own borders
        border-style: none;         

        @include tablet {
            flex-direction: column;
        }

        .fretboard-header, .string {
            // Column-shaped string
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
            }
        }

        .fret {
            color: $color-primary-dark;
        
            border: $color-primary-white $thick-border-width solid;
            padding: 0.10rem;

            // Center content
            display: flex;
            justify-content: center;
            align-items: center;
        
            // Collapse borders
            margin-left: -1px;
            margin-top: -1px;

            width: $size-xxl;
            height: 2 * $size-xxl;

            // Horizontalize frets for larger screens
            @include tablet {
                width: 2 * $size-xxl;
                height: $size-xxl;
            }

            &--outside {
                border-color: transparent;
            }

            &--included {
                background: $color-accent-darker;
                color: $color-white;
            }

            &:hover {
                background: $color-secondary;
                border-color: $color-secondary-lightest;
                box-shadow: 2px 2px 2px $color-secondary-lighter;
            }

            &--degree-1 {
                background: $color-degree-first-dark;
            }

            &--degree-2 {
                background: $color-degree-second-dark;
            }

            &--degree-3 {
                background: $color-degree-third-dark;
            }

            &--degree-4 {
                background: $color-degree-fourth-dark;
            }

            &--degree-5 {
                background: $color-degree-fifth-dark;
            }

            &--degree-6 {
                background: $color-degree-sixth-dark;
            }

            &--degree-7 {
                background: $color-degree-seventh-dark;
            }

            &--invisible {
                border-color: transparent;
                background: transparent;
            }
        }
    }
}