/* _generator.css => form that is of a more visual design, calculator-like rather than the typical list of fields */
.generator {
    display: grid;                                  /* each generator can implement its own layout but they all follow a similar grid pattern */
    padding: var(--size-xs);                        /* very little padding, the idea is to make it compact while giving elements a lot of space */
    margin: var(--size-m);                          /* more breathing room around to make generator stand out */
    row-gap: var(--size-xs);                        /* small gap to keep it compact */
    border-width: var(--thick-border-width);        /* make it stand out */
    border-style: ridge;                            /*? make it really stand out? lol */
    border-color: var(--color-primary);             /* mesh with background */
    text-align: center;                             /* set text centered by default, given the compact layout */
    
 
    max-width: 300px; /*! to be seen how to adjust width because the parent stretches it all the way up, just needs to wrap around content  */
  }
 
/* like in a calculator, the generator displays the current value at the top, center of the screen */
.generator__display {
   font-size: var(--font-size-display);             /* the value needs to be prominent */
   background: var(--color-primary-black);          /* black that meshes with background */ 
   padding: var(--size-l);                          /* make the value stand out with large padding */
   color: var(--color-accent-light);                /* contrast with inputs & other data */
  }