.legend {
    display: flex;              /* vertical flex, to show legend title above said legend */
    flex-direction: column;
    align-items: center;        /* center content horizontally */
}

.color-legend {
    display: flex;
    flex-direction: row;        /* because the legend is simple enough to be shown in a single row, use a horizontal flex */
    align-items: center;
    gap: var(--size-xs);
}

.color-sample {
    width: var(--size-m);       /* show as a square */
    height: var(--size-m);       
    border: var(--color-primary-white) 1px solid;  /* contrast with the legend color */
}

/* color classes */
.color-sample--purple {
    background-color: var(--color-practice--by-heart); 
}

.color-sample--green {
    background-color: var(--color-practice--green);
}

.color-sample--yellow {
    background-color: var(--color-practice--yellow);
}

.color-sample--orange {
    background-color: var(--color-practice--orange);
}

.color-sample--red {
    background-color: var(--color-practice--red);
}