@use "../globals/globals" as *;

.legend {
    display: flex;              // vertical flex, to show legend title above said legend
    flex-direction: column;
    align-items: center;        // center content horizontally
    gap: $size-s;

    &__colors {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: $size-xs;
    }
    
    &__item {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        .description {
            text-align: left;
        }
    }
    
    &__sample {
        width: $size-m;       // show as a square
        height: $size-m;       
        border: $color-primary-white 1px solid;  // contrast with the legend color

        // Practice habits legend
        &--purple {
            background-color: $color-practice--by-heart; 
        }

        &--green {
            background-color: $color-practice--green; 
        }

        &--yellow {
            background-color: $color-practice--yellow; 
        }

        &--orange {
            background-color: $color-practice--orange; 
        }

        &--red {
            background-color: $color-practice--red; 
        }

        // Scale degrees legend
        &--degree-1 {
            background: $color-degree-first-dark;
        }

        &--degree-2 {
            background: $color-degree-second-dark;
        }

        &--degree-3 {
            background: $color-degree-third-dark;
        }

        &--degree-4 {
            background: $color-degree-fourth-dark;
        }

        &--degree-5 {
            background: $color-degree-fifth-dark;
        }

        &--degree-6 {
            background: $color-degree-sixth-dark;
        }

        &--degree-7 {
            background: $color-degree-seventh-dark;
        }
    }
}