.content nav {
    display: flex;                  
    justify-content: center;
    align-items: center;
    gap: var(--size-m);
    padding: var(--size-m);
}

@media screen and (min-width: 720px) {
    .content nav {
        flex-direction: row;
        gap: var(--size-m);
        padding: var(--size-xl);
    }

    
}