.content nav {
    display: flex;                  
    justify-content: center;
    align-items: center;
    gap: var(--size-m);
    padding: var(--size-m);
}

.content nav a:nth-child(n+2) {
    padding-left: var(--size-s);
    border-left: var(--color-primary-white) 1px solid;
}
@media screen and (min-width: 720px) {
    .content nav {
        flex-direction: row;
        gap: var(--size-m);
        padding: var(--size-xl);
    }

    
}