.content nav {
    display: flex;              /* because we're appliying this to an HTML element selector, we're not using the .column class even though it would do the job */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-m);
    padding: var(--size-m);
}

@media screen and (min-width: 720px) {
    .content nav {
        flex-direction: row;
        gap: var(--size-xxxl);
        padding: var(--size-xl);
    }

    
}