.fretted-instrument {
    text-align: center;                                     /*~ center the fretboard */
    padding: var(--size-l);                                 /* acts as margin, spacing */ 
}

.fretboard {
    border-style: none;                                     /* the frets have their own border */
    display: inline-flex;                                   /* center the fretboard, wrap it around the frets and flex-vertical the strings */
    flex-direction: column;                                 /* vertical list the strings */    
}

.fretboard .fretboard-header,
.fretboard .string {
    display: flex;
}


.fretboard .fret {
    width: calc(2.5 * var(--size-xl));
    height: var(--size-xl);
    color: var(--color-primary-dark);

    border-color: var(--color-primary-white);
    border-style: solid;
    border-width: 2px;
    padding: 0.10rem;

    margin-left: -1px;
    margin-top: -1px;

    text-align: center;
}

.fretboard .fret--outside {
    border-color: transparent;
}

.fretboard .fret--included {
    background: var(--color-accent-darker);
    color: var(--color-white);
}

.fretboard--active .fret:hover {
    background: var(--color-secondary);
    border-color: var(--color-secondary-lightest);
    box-shadow: 2px 2px 2px var(--color-secondary-lighter);
    
}

.fretboard .fret--degree-1 {
    background: var(--color-degree-first-dark);
}

.fretboard .fret--degree-2 {
    background: var(--color-degree-second-dark);
}

.fretboard .fret--degree-3 {
    background: var(--color-degree-third-dark);
}

.fretboard .fret--degree-4 {
    background: var(--color-degree-fourth-dark);
}

.fretboard .fret--degree-5 {
    background: var(--color-degree-fifth-dark);
}

.fretboard .fret--degree-6 {
    background: var(--color-degree-sixth-dark);
}

.fretboard .fret--degree-7 {
    background: var(--color-degree-seventh-dark);
}

.fretboard .fret--invisible {
    border-color: transparent;
    background: transparent;
}
