.current-progressions, .new-progressions {
    text-align: left;    
}

.progression-chord-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: var(--size-m);
}

.progression-print {
    font-size: 1.5rem;
    color: var(--color-accent-lightest);
}