#current-song-progressions {
    display: grid;
    grid-template-columns: 1fr;
}

.progression-template-picker select,
.song-progression-form .field select {
    max-width: 80vw;
}


@media screen and (min-width: 720px) {
    .progression-template-picker select, .song-progression-form .field select {
        max-width: 50vw;
    }
}