.current-progression-templates, .new-progression-templates {
    text-align: left;    
}

.progression-chord-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: var(--size-m);
}

.progression-chord-form input[type="checkbox"] {
    margin: 0;
}

.progression-chord-print,
.progression-template-print {
    align-self: center;
}

.progression-template-print {
    font-size: 1.5rem;
    color: var(--color-accent-lightest);
}

.field--progression-cypher {
    width: min(75%, 50vw);          /* smallest between 75% of the content row or half of the screen for mobile */
}