/* when printing progression_templates as horiztonal grids, this is the div that contains all of the progression's bars */
.progression-as-bars {
    font-size: var(--font-size-bars);                               /* large font for easy reading */
}

/* an individual bar, that may or may not correspond to an entire progression */
.progression-chord__bar {
    display: grid;                                                  /* use a grid for consistent layout between different bars and to easily accomodate non-full bars */
    grid-template-columns: repeat(auto-fill, var(--bar-tile-size)); /* auto-fill as necessary, use distinct tile size because it's more important to have a proper size here than to follow the rest of the layout units */
    padding: var(--size-s);                                         /* just a bit of breathing room */
    margin: var(--size-xs) var(--size-xs);                           /* make it stand out */
    
}

/* an individual tile, that represents a single beat more or less (up to the user's interpretation) */
.progression-chord__bar .progression-chord__tile {
    padding: var(--size-m) 0;                     /* some breathing room */ 
    background: var(--color-primary-black);                                 /* using pure white to stand out */
    /*height: var(--size-l);                                          /*? play with padding, see if necessary */
    color: var(--color-accent-lightest);                               /* */
    border-style: var(--default-border-style);                      /* to sharply delineate each tile, use a border */
    border-width: var(--thick-border-width);                        /* to sharply delineate */
    border-left-width: 0px;                                         /* ignore left-borders to simplify css */
    border-color: var(--color-primary-white);                        /* to delineate, but still mesh with background */
    text-align: center;
}

.progression-chord__bar .progression-chord__tile:hover {
    background: var(--color-accent-darkest);
}

.progression-chord__bar .progression-chord__tile:active {
    background: var(--color-accent-dark);
}

/* last tile in a bar */
.progression-chord__bar .progression-chord__tile--end {
    border-right: none;                                             /* prevent overlap with bar's own border-right */
}

/* first tile in a bar */
.progression-chord__bar .progression-chord__tile--start {
    border-left-width: var(--thick-border-width);                   /* apply left border like the others */
}

.progression-chord__bar .progression-chord__tile:last-child {
    border-right-width: var(--thick-border-width);
    border-right-style: var(--default-border-style);
    border-right-color: var(--color-primary-white);                                  
}