.progression-template-form {
    display: flex;                  /* vertical flex */
    flex-direction: column;         /* vertical flex */
    align-items: stretch;           /* fill up the space */
    gap: var(--size-s);             /* buffer between each input field */
}

.progression-chord-print,
.progression-template-print {
    align-self: center;
}

.progression-template-print {
    font-size: 1.5rem;
    color: var(--color-accent-lightest);
    text-align: center;
}

/* progression cypher inputs */
input.field--progression-cypher {
    text-align: left;               /* because center-aligned just looks weird */ 
}