@use "../globals/globals" as *;

.current-progressions {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;

    .progression {
        border: $thicker-border-width $color-primary-light $clean-border-style;  // use a border that stands out, primary color happens to be green which correlates with the progressions being valid/confirmed/matching the DB
        background: radial-gradient(var(--sheen-dark), transparent);  // depth effect shrug
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
}   

.new-progressions {
    .progression {
        background: var(--sheen-light);    // lighter sheen, more ephemeral
        border: $thick-border-width $color-secondary-white $dirty-border-style;   // appropriately contrasting border, hinting that there are unsaveged changes with the dirty border style
    }
}

.current-progressions, .new-progressions {
    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.progression-template-picker {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@include tablet {
    .no-song-progression {
        grid-column: 1 / 3;                 // span all the columns 
    }
}