.progressions-sequencer {
    grid-template-columns: [start] 1fr 1fr [end];       /* mobile has two equal-sized columns */
}

.sequencer-buttons {
    display: flex;
}

.sequencer-buttons a {
    margin: var(--size-xs);
}

@media screen and (min-width: 720px) {
    .progressions-sequencer {
        grid-template-columns: [start] 1fr 3fr 1fr 2fr [end];     /* progression tag, lyrics stub, template tag, sequencer actions */ 
    }
}