/* content that displays a song's lyrics, chords, etc. */ 
.show-song {
    columns: 3;                             /* for readability, to reduce likelyhood of user needing to scroll down */
    padding-left: var(--size-s);         /* lots of breathing room */
    padding-right: var(--size-s);        /* lots of breathing room */
    text-align: left;
    margin-top: var(--size-l);
 }

 .title {
    display: flex;
    flex-direction: row;
 }

 .show-song .song-actions {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
 }

 /* top side info panel */
 .song-top-panel {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
 }
  
 /*! song-line is deprecated, but still used */
 /* lyrics line */
 .song-line,
 .song-progression__lyrics {
    margin-top: var(--size-xxs);            /* just a bit of breathing room */
    margin-bottom: var(--size-xxs);         /* just a bit of breathing room */
    font-size: var(--font-size-lyrics);     /* big enough to read easily */
 }

 .song-progression__lyrics {
  font-size: 0.95rem;
 }

 /*! song-line--chord is deprecated, but still used */
 /* chords line */
 .song-line--chords,
 .song-progression__chords {
    margin-top: 0.5em;                      /* breathing room */
    margin-bottom: 0.5em;                   /* breathing room */

    color: var(--color-white);    /* clash with background/lyrics */
    font-size: var(--font-size-lyrics);     /* big enough to read easily */
 }

 /* degree/chords coloring */
 .degree-1 {
   color: var(--color-degree-first-light);
 }
 .degree-2 {
   color: var(--color-degree-second-light);
 }
 .degree-3 {
   color: var(--color-degree-third-light);
 }
 .degree-4 {
   color: var(--color-degree-fourth-light);
 }
 .degree-5 {
   color: var(--color-degree-fifth-light);
 }
 .degree-6 {
   color: var(--color-degree-sixth-light);
 }
 .degree-7 {
   color: var(--color-degree-seventh-light);
 }

 .admin-actions, .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--size-m) var(--size-xxl);
 }

 .admin-actions *, .nav-links * {
  margin: 0;
 }

 .scale-chords {
  width: 4rem;
 }

 .scale-chords td {
  text-align: center;
 }

 .actions form {
   
 }

 .instruments {
    display: flex;
    flex-direction: column;
    align-items: center;
 }