/* content that displays a song's lyrics, chords, etc. */ 
.show-song {
    padding: var(--size-m);         /* maximize content space, just enough padding */
    text-align: left;               /* maximize readability */
    margin-top: var(--size-l);      /* space away from the helpers or whatever is above */
}

/* song title */
.title {
   display: flex;                   /* horizontal flex */
   flex-direction: row;             /* horizontal flex */
   justify-content: center;         /* center in the page */
   color: var(--color-secondary-lightest);   /* use a contrast color, this is the _title_! */
   margin: var(--size-m) 0 var(--size-xxl);
}

.song-info {
   margin: var(--size-m);           /* loose text, add external buffer */ 
}

/* top side info panel */
.helpers {
   display: flex;                   /* vertical flex, ideally should be some sort of tabbed pane */
   flex-direction: column;          /* vertical flex */
   justify-content: space-between;  /* space elements out, minimize buffer to the outside */
   align-items: stretch;            /* required for grid child elements to strech across */
   gap: var(--size-l);              /* each sub-element is its own self-contained feature, so add a sizable gap */
}

.helpers .chords {   
   display: grid;                   /* might have lots of chords, display as a grid to maximize data density */
   grid-template-columns: repeat(3, 1fr); /* split in 3 columns for smaller devices */
   text-align: left;                /* align the start of each line */ 
   border-width: var(--thick-border-width);     /* thick helper border */ 
   border-style: var(--default-border-style);   /* default */
   border-color: var(--color-primary);          /* helpers have colored borders */
}

.helpers .chords .chord {
   display: flex;                   /* display in a line */
   justify-content: space-between;  /* tuck the cypher to the left, notes to the right */
   align-items: center;             /* vertically center along the row */
   padding: var(--size-s);          /* buffer between each chord */
   border-width: var(--thin-border-width);   /* default */
   border-color: var(--color-primary);       /* helper color */
   border-style: solid;                      /* default */
   margin-left: -1px;               /* collapse borders */
   margin-bottom: -1px;             /* collapse borders */
}

.helpers .chords .chord .cypher {
   font-size: var(--font-size-l);
   font-weight: bold;
   color: var(--color-secondary-lightest);
}

.helpers .chords .chord .cypher::after {
   content: "→"
}

/* degree/chords coloring */
.degree-1 {
color: var(--color-degree-first-light);
}
.degree-2 {
color: var(--color-degree-second-light);
}
.degree-3 {
color: var(--color-degree-third-light);
}
.degree-4 {
color: var(--color-degree-fourth-light);
}
.degree-5 {
color: var(--color-degree-fifth-light);
}
.degree-6 {
color: var(--color-degree-sixth-light);
}
.degree-7 {
color: var(--color-degree-seventh-light);
}

/* nav links: previous song, next song, random song, ... */
.nav-links {
   display: flex;                /* display in a single, horizontal line. should be short enough to fit even in a vertical screen */
   flex-direction: row;          /* horizontal flex */
   justify-items: space-around;  /* maximize space */
   gap: var(--size-m);           /* gutter between links */
}

.admin-actions {
   display: flex;                /* actions have longer labels, so use a vertical flex */
   flex-direction: column;       /* vertical flex */
   gap: var(--size-s);           /* buffer between each admin action link */
   text-align: left;             /* align for cleaner look */
}

/* elements with a default border */
.admin-actions, .nav-links, .song-options {
   border-width: var(--thin-border-width);      /* group together visually */
   border-style: var(--default-border-style);   /* default */
   border-color: var(--color-primary-white);    /* default */
   padding: var(--size-m);       /* internal buffer with the border */
   margin-bottom: calc(var(--thin-border-width) * -1);
}

.admin-actions *, .nav-links * {
   margin: 0;                    /* remove extraneous margins */
}

.scale-chords td {
   text-align: center;
}

.instruments {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.instrument-view {
   transform: scale(75%);     /* scale down for mobile, check if new features are added */ /*! this will break as soon as # of frets is a setting */
}

.play-actions {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

@media screen and (min-width: 720px) {
   .show-song {
      columns: 2;             /* on pc, screen is large enough to accomodate content in two columns */ /*? should this be the case? with a scrolling feature, the lyrics will need to be in a single column */
   }

   .song-info {
      margin: var(--size-xl);          /* more external buffer on large screens */
   }

   .helpers .chords {
      grid-template-columns: repeat(5, 1fr);
   }

   .instrument-view {
      transform: initial;
   }
}

@media screen and (min-width: 1400px) {
   .helpers .chords {
      grid-template-columns: repeat(8, 1fr);
   }

   .instrument-view {
      transform: scale(125%);
      margin: var(--size-xl);
   }
}