/* content that displays a song's lyrics, chords, etc. */ 
.show-song {
    columns: 2;                             /* for readability, to reduce likelyhood of user needing to scroll down */
    padding-left: var(--size-xxxl);         /* lots of breathing room */
    padding-right: var(--size-xxxl);        /* lots of breathing room */
 }
  
 /*! song-line is deprecated, but still used */
 /* lyrics line */
 .song-line,
 .song-progression__lyrics {
    margin-top: var(--size-xxs);            /* just a bit of breathing room */
    margin-bottom: var(--size-xxs);         /* just a bit of breathing room */
    font-size: var(--font-size-lyrics);     /* big enough to read easily */
 }

 /*! song-line--chord is deprecated, but still used */
 /* chords line */
 .song-line--chords,
 .song-progression__chords {
    margin-top: 0.5em;                      /* breathing room */
    margin-bottom: 0.5em;                   /* breathing room */

    color: var(--color-accent-lightest);    /* clash with background/lyrics */
    font-size: var(--font-size-lyrics);     /* big enough to read easily */
 }