/* doodad that aids navigating from one song to the next */
.song-shifter {
    display: flex;                      /* horizontal flex */
    justify-content: center;            /* center screen */
    gap: var(--size-xl);                /* space out elements */
    padding: var(--size-m);             /* internal spacing */
    margin: var(--size-m);              /* external spacing */ 
    align-items: center;                /* vertically center items */
}

/* song shifter links */ 
.song-shifter a {
    text-decoration: none;              /* remove underline */  
    font-size: var(--font-size-xxxl);   /* prominent links */
}