@use "../globals/globals" as *;

.song-list {
    // Grid ensures a size-consistent layout
    display: grid;         

    // Few points of data, make it stand out
    font-size: $font-size-l;    
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
        grid-template-columns: 1fr 7fr 5fr 1fr 1fr 1fr 2fr 2fr; // See mobile grid-template-areas for data needing to be displayed here
    }
    
    .song {

        // Subgrid to .song-list
        display: grid;             
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        // on mobile, use a multiple row layout for each song
        grid-template-areas:
            "favorite   title       title       title"
            "artist     artist      artist      artist"
            "key        key         capo        capo"
            "plays      plays       last_play   last_play"
            "actions    actions     actions     actions";

        border: $thin-border-width $color-primary-dark solid; 
        padding: $size-m $size-s;

        // Collapse margins for all except last child
        &:nth-child(n - 1) {
            margin-bottom: -1px;
        }
        
        .song {

            &__favorite {
                grid-area: favorite;
            }

            &__title {
                grid-area: title;

                a {
                    color: $color-primary-lightest;
                    font-size: $font-size-xl;

                    &:hover {
                        color: $color-white;
                    }

                    &:active {
                        color: $color-primary-lighter;
                    }
                }
            }
            &__artist {
                grid-area: artist;
                font-style: italic;
    
                a {
                    text-decoration: none;
                }
            }

            &__key {
                grid-area: key;
            }
            
            &__capo {
                grid-area: capo;
            }
            
            &__plays {
                grid-area: plays;
            }
            
            &__last-play {
                grid-area: last_play;
            }
            
            &__actions {
                display: flex;
                grid-area: actions;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            @include tablet {
                &__key,
                &__capo,
                &__plays {
                    justify-self: center;
                }
            }
        }
        

        &:hover {
            background: $color-primary-darkest;       // imply a button, without implying clickable
        }

        &, &:hover {
            transition-duration: $transition-s;     // standard
        }
    }
    
    .song, .song-list-header {      
        
        column-gap: $size-s;          
        row-gap: $size-xs;            
        justify-items: left;                
        align-items: center;            

        @include tablet {
            // reset for tablet+, instead using a simple single-row layout
            grid-template-areas: initial;    
            grid-template-columns: subgrid;


            // Reset grid areas for tablets as they are not needed for the single-row layout
            & > .song__favorite, 
            & > .song__title, 
            & > .song__artist, 
            & > .song__key, 
            & > .song__capo, 
            & > .song__plays, 
            & > .song__last-play, 
            & > .song__actions {
                grid-area: initial;
            }
        }
    }
    
    .song-list-header {

        // Hide on mobile, the data is labelled within the table
        display: none;
        justify-items: center;

        @include tablet {
            display: grid;
            grid-column: 1 / -1;
        }

        & > * {
            padding: $size-s;             // buffer between each header cell
            text-align: center;                 // center align the text for multi-line labels (doesn't align within the cell as it's a grid, use justify-items/self for that)
    
            @include tablet {
                padding: $size-s $size-m;
            }
        }
    }

    .song-row {
        &--by-heart {
            background-color: $color-practice--by-heart; 
        }

        &--green {
            background-color: $color-practice--green;
        }

        &--yellow {
            background-color: $color-practice--yellow;
        }

        &--orange {
            background-color: $color-practice--orange;
        }

        &--red {
            background-color: $color-practice--red;
        }
    }
}


    
.song-list-options {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-m;

    .sorters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $size-m;
    }

    .filters, .filters form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        input[type=submit] {
            width: 100%;
            align-self: center;
        }

        .filter-controls {
            display: flex;
            flex-direction: row;
        }

        select {
            max-width: 40vw;

            @include tablet {
                max-width: 95vw;
            }
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "sort       sort        sort        sort"
            "filter     filter      filter      filter"
            "search     search      clear       clear";
        row-gap: $size-m;
        column-gap: $size-xs;

        .sorters {
            grid-area: sort;

            display: grid;
            grid-template-columns: subgrid;
            justify-content: space-around;
            align-items: center;
            row-gap: $size-xs;

            .label {
                grid-column: 1 / -1;
            }

            a {
                justify-self: center;
            }
        }

        .filters {
            grid-area: filter;
            display: grid;
            grid-template-columns: subgrid;

            .label {
                margin-bottom: $size-xs;
            }

            // The actual filters are displayed inside a form
            form {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;
                row-gap: $size-xs;
    
                .filter {
                    &--key, &--capo {
                        grid-column: span 2;
                    }

                    &--artist {
                        grid-column: 1 / -1;
                    }
                }

                input[type=submit] {
                    grid-column: 3 / -1;
                }
            }
        }

        .search {
            grid-area: search;

            .song-search {
                display: flex;
                flex-direction: row;
                width: 100%;

                input[type=text] {
                    width: 100%;
                }
            }
        }

        .clear {
            grid-area: clear;
        }
    }
}

@include tablet {
    .showcase--anon {
        .song-list {
            .song {
                &__artist {
                    grid-column: span 4;
                    justify-self: end;
                }
            }
        }
    }
    
    .showcase--hide-key {
        .song-list {
            .song {
                &__artist {
                    grid-column: span 3;
                }
            }
        }
    }
}