.stats {
    display: flex;                      /* vertical flex */
    flex-direction: column;             
    gap: var(--size-m);
}

.daily-average {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}

.daily-average div:nth-child(n+2) {
    padding-left: var(--size-xxxl);
}