@use "../globals/globals" as *;

// over-arching container that might contain a label to indicate the purpose of the toggle
.toggle-switch {
    display: flex;
    align-items: center;
    
    // toggle container
    .toggle {
        position: relative;             // act as positional anchor
        display: inline-block;          // for non-flex layouts
        width: $size-xxxl;        // set a fixed width for the enitre component
        height: $size-xl;         // fixed height

        input {
            display: none;                  // hide the checkbox, the label alone can serve as a trigger

            // toggled state track
            &:checked+.slider {
                background-color: $color-primary-dark;    // track color for "on" position

                &::before {
                    transform: translateX(calc($size-xl - $size-xxs)); // travel half the .toggle width, minus the left: position anchor value of the "off" indicator to keep a consistant padding with the rightmost edge 
                    background-color: $color-primary-lightest;    // style
                }
            }
        }

        // toggle track which hosts the visual switch indicator
        .slider {
            position: absolute;                                 // absolute position relative to the .toggle 
            cursor: pointer;                                    // visual feedback
            background-color: $color-primary-darker;      // track color for "off" position
            border-radius: 24px;                                // style
            width: 100%;                                        // match parent size
            height: 100%;                       
            transition: background-color $transition-s;   // smooth transition
        }

        &::before {
            content: "";                                    // no content, but necessary to force display
            position: absolute;                             // position relative to parent
            height: calc($size-xl - $size-xxs); // match height of .toggle, minus half the padding between the indicator and the edge of the track                                
            width: calc($size-xl - $size-xxs);  // copy height value, for a round indicator
            left: $size-xxs;                          // anchor to the left of the track, same value as that which is removed from .toggle height to get the indicator height
            bottom: $size-xxxs;                       // anchor to the bottom of the track, should be half the value removed from .toggle height to get the indicator height
            background-color: $color-primary-white;   // indicator color
            border-radius: 50%;                             // full circle shape
            transition: $transition-s;                // style
        }

    }
}