<% if progression.errors.any? %>
    <div class="alert model-error">
        <h2><%= pluralize(progression.errors.count, "error") %> prohibited this progression from being saved:</h2>

        <ul>
            <% progression.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>