@use "../globals/globals" as *;

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: $size-xxs $size-m;
    height: 3em;                // standardize height regardless of filter content 
    border: $color-primary-darkest $thin-border-width solid;
    
    &, &__label { 
        cursor: pointer;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.2);
        border-color: $color-primary-dark;
    }

    &.active {
        border-color: $color-accent-lightest;
        background: rgba(0, 0, 0, 0.1);

        &__label {
            color: $color-accent-lightest;
        }
    }

    &, &:hover, &:active {
        transition: $transition-s;
    }
}