@use "../globals/globals" as *;

.filter-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: $size-xxs;
    height: 3em;                /* standardize height regardless of filter content */ 
    cursor: pointer;
    border: rgba(0, 0, 0, 0) 1px solid;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
        border-color: $color-primary-dark;
    }

    &.active {
        border-color: $color-accent-lightest;
        background: rgba(0, 0, 0, 0.1);

        .filter-label {
            color: $color-accent-lightest;
        }
    }
}