@use "../globals/globals" as *;

footer {
    display: grid;
    border-top: $thick-border-width ridge $color-primary-dark;
    width: 100%;
    padding: $size-s $size-xxxl;
    background: $sheen-dark;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);

        // Simulate a space-between justification, provided there are 3 columns of content
        & > * {
            &:nth-child(1) {
                justify-self: start;
            }

            &:nth-child(2) {
                justify-self: center;
            }

            &:nth-child(3) {
                justify-self: end;
            }
        }
    }

    nav a {
        padding: $size-m $size-xxl;
        text-decoration: none;

        &:hover {
            background: $color-primary-black;
        }

        &:active {
            background: $color-primary-darkest;
            color: $color-accent-white;
        }

        @include tablet {
            padding: $size-s;
        }
    }

    .tech-stack {
        color: $color-primary-white; 
        font-size: $font-size-xs;

        & > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: $size-xxs;
        }

        .rails-icon {
            svg {
                // Use Rails' brand color
                fill: #D30001;

                &:hover {
                    fill: $color-white;
                }

                &:active {
                    fill: $color-primary;
                }

                &, &:hover, &:active {
                    transition: $transition-s;
                }
            }
        }
    }
}