header {
    // for mobile, a vertical flex stretching the entire width of the screen;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;

    background: light-dark($sheen-dark, $color-primary-lighter);
    border-bottom: $thick-border-width ridge $color-primary-dark;

    a {
        text-decoration: none;
    }

    // all links are contained within flex containers
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        // ... except user links, of which there are never more than two, so they stand in their own little world
        &.user-links {
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a {
                padding: $size-m;
            }
        }
    }

    // As the two "standalone" sections of the header, these can be separated from the rest with a ridge border that is slightly thinner and darker than the header's main border
    .default-links, .premium-links {
        border-top: $thin-border-width ridge $color-primary-darker;

        a {
            // links need to span the entire width of the screen and use vertical padding for easy finger-clicking
            width: 100%;
            padding: $size-xs 0;

            &:hover {
                background: $color-primary-black;
            }

            &:active {
                background: $color-primary-darkest;
                color: $color-accent-white;
            }

            &, &:hover, &:active {
                transition: $transition-s;
            }
        }
    }

    @include tablet {
        // for tablet+, use a grid for easier placement of the logo and user links
        display: grid;
        grid-template-columns: 1fr 1fr;

        // on tablet+, the links can spread horizontally instead
        nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: $size-m;

            &.user-links {
                justify-content: flex-end;

                a:last-child {
                    padding-right: $size-xxl;
                }
            }
        }


        // all links other than the logo/user links span all the columns
        .default-links, .premium-links {
            grid-column: 1 / -1;

            a {
                padding: $size-s 0;
            }
        }
    }
}