/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* globals */ 
 :root {
    --color-primary: goldenrod;
    --color-accent: #dda0dd;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: 'Consolas', 'Courier New', Courier, monospace;*/

 }

 /* generic */

 body {
    background-color: #001608;
    color: var(--color-primary);
    max-width: 95%;
    margin: auto;
    padding-top: 1em;
 }

 a {
    color: #dda0dd;
 }

 table {
    border: solid 2px var(--color-primary);
    border-collapse: collapse;
 }

 table td {
    padding: 0.4em 2em;
 }

 table tr {
    width: 100%;
    border-bottom: solid 1px var(--color-primary);
 }

 .hidden {
  display: none !important;
 }

 input[type="number"] {
  width: 45px;
 }
 
 @media screen and (min-width: 1080px) {
    body {
        max-width: 1400px;
    }
    .show-song {
        columns: 2;
    }
 }

 .songs-list {
    width: 100%;
 }

 .song-line,
 .song-progression__lyrics {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    font-size: 1.15rem;
 }

 .song-line--chords,
 .song-progression__chords {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color: var(--color-accent);
 }

 .action-bar {
   margin-top: 1rem;
   margin-bottom: 1rem;
   display: flex;
 }

 .form-fields {
   display: grid;
   margin: 0.5rem;
   padding: 0.5rem;
   grid-template-columns: 1fr 3fr;
   row-gap: 0.25rem;
 }
 
 .generator {
   display: grid;
   padding: 1em;
   margin: 0.5em 0;
   border: 1px solid var(--color-primary);
   text-align: center;
   row-gap: 1rem;

   max-width: 300px; /*! to be seen how to adjust width because the parent stretches it all the way up, just needs to wrap around content  */
 }

 .generator__display {
  font-size: 2rem;
  background: black;
  padding: 0.5rem;
  color: var(--color-accent);
 }

 .progression-chord-generator .generator__inputs {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: auto;
   grid-template-areas: 
   "chord_type    chord_type"
   "degree        degree"
   "modifier      modifier"
   "duration      settings"
   "bass_controls bass_controls"
   "actions       actions";

   row-gap: 0.5rem;

 }

 .progression-chord-generator .generator__input--degree {
  grid-area: degree;
 }

 .progression-chord-generator .bass-controls {
  grid-area: bass_controls;
  display: flex;
  flex-direction: column;
 }

 .progression-chord-generator .generator__input--degree,
 .progression-chord-generator .generator__input--bass-degree {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: 
   "degree1 degree4 degree5"
   "degree6 degree2 degree3"
   " . degree7 none ";

   margin: 1em; 
   text-align: left;
 }

 .degree_1,
 .bass_degree_1 {
   grid-area: degree1;
 }
 .degree_2,
 .bass_degree_2 {
   grid-area: degree2;
 }
 .degree_3,
 .bass_degree_3 {
   grid-area: degree3;
 }
 .degree_4,
 .bass_degree_4 {
   grid-area: degree4;
 }
 .degree_5,
 .bass_degree_5 {
   grid-area: degree5;
 }
 .degree_6,
 .bass_degree_6 {
   grid-area: degree6;
 }
 .degree_7,
 .bass_degree_7 {
   grid-area: degree7;
 }

 .progression-chord-generator .generator__inputs .generator__input--degree-modifier {
   grid-area: modifier;
 }

 .progression-chord-generator .generator__inputs .generator__input--chord-type {
   grid-area: chord_type;
 }

 .progression-chord-generator .generator__inputs .generator__input--settings {
   grid-area: settings;
 }

 .progression-chord-generator .generator__inputs .generator__input--duration {
   grid-area: duration;
 }

 .progression-chord-generator .generator__inputs .generator__input--actions {
   grid-area: actions;
 }

 .progression-chord-generator .generator__inputs .generator__input--bass-degree-modifier {
   grid-area: bass_modifier;
 }

 .modifier-markers,
 .bass_modifier-markers {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
 }
  
.modifier-markers option,
.bass_modifier-markers option {
   margin-top: 0.25em;
   padding: 0;
 }
 
 input[type="range"] {
   width: 200px;
   margin: 0;
 }