/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --color-primary: goldenrod;
    --color-accent: #dda0dd;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: 'Consolas', 'Courier New', Courier, monospace;*/

 }

 body {
    background-color: #001608;
    color: var(--color-primary);
    max-width: 95%;
    margin: auto;
    padding-top: 1em;
 }

 a {
    color: #dda0dd;
 }

 table {
    border: solid 2px var(--color-primary);
    border-collapse: collapse;
 }

 table td {
    padding: 0.4em 2em;
 }

 table tr {
    width: 100%;
    border-bottom: solid 1px var(--color-primary);
 }

 .songs-list {
    width: 100%;
 }

 .songs-list tbody tr:hover {
   
 }
 
 @media screen and (min-width: 1080px) {
    body {
        max-width: 1400px;
    }
    .show-song {
        columns: 2;
    }
 }

 .song-line,
 .song-progression__lyrics {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    font-size: 1.15rem;
 }

 .song-line--chords,
 .song-progression__chords {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color: var(--color-accent);
 }

 .action-bar {
   margin-top: 1rem;
   margin-bottom: 1rem;
   display: flex;
 }

 .form-fields {
   display: grid;
   margin: 0.5rem;
   padding: 0.5rem;
   grid-template-columns: 1fr 3fr;
   row-gap: 0.25rem;
 }
